@media screen and (max-width: 621px) {
  .page__content {
    margin: 0 12px;
    max-width: calc(100% - 20px);
  }
}

@media screen and (max-width: 621px) {
  .profile {
    flex-direction: column;
    width: 100%;
    padding: 20px;
    margin: 0 12px;
    background-color: pink;
  }

  .profile__title {
    font-family: "Inter", Arial, Sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.21;
    text-align: center;
  }

  .profile__add-button {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 282px;
  }
}
