.modal {
  display: none;
  /* position: fixed;
  align-items: center; */
}

/* .modal__container {
  background-color: blue;
}

.modal__button {
  position: absolute;
}

.modal__form {
  position: center;
} */
