.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
  max-width: 880px;
  margin: 0 auto;
  /* height: 120px; */
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  /* margin-right: 30px; */
}

.profile__info {
  display: grid;
  flex-direction: column;
  align-items: center;
  grid-template-areas: "title button" "description description";
  grid-template-columns: minmax(auto, 375px) auto;
  column-gap: 14px;
  padding-left: 30px;
}
.profile__edit-button {
  display: flex;
  background: transparent url(../images/edit.svg) center no-repeat;
  width: 24px;
  height: 24px;
  grid-area: button;
  margin: 0;
  padding: 0;
  border: 1px solid #fff;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__add-button {
  /* display: flex; */
  margin-left: auto;
  /* align-items: center; */
  background: transparent url(../images/add.svg) center no-repeat;
  width: 150px;
  height: 50px;
  border: solid 2px #fff;
  border-radius: 2px;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

.profile__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 14px;
}

.profile__description {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  grid-area: description;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
  padding-bottom: 36px;
}

@media screen and (max-width: 391px) {
  .profile {
    flex-direction: column;
    width: 100%;
  }

  .profile__info {
    align-items: center;
  }
  .profile__image {
    margin-bottom: 30px;
    align-items: center;
  }
  .profile__title {
    font-size: 20px;
    text-align: center;
  }
  .profile__description {
    font-size: 14px;
    line-height: 1.21;
    margin: 0 auto;
    gap: 10px;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    align-self: center;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
  }
}

@media screen and (max-width: 382px) {
  .profile {
    flex-direction: column;
    /* width: 282px; */
    /* height: 286px; */
    /* padding: 20px; */
    margin: 0 12px;
    /* background-color: pink; */
  }

  .profile__image {
    align-items: center;
  }

  .profile__title {
    line-height: 1.21;
    text-align: center;
    font-size: 22px;
    /* padding-bottom: 36px; */
  }

  .profile__description {
    font-size: 14px;
    line-height: 1.21;
    margin: 0 auto;
    gap: 10px;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
  }

  .profile__add-button {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 282px;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    /* background-color: blueviolet; */
    width: 100%;
    margin: 0;
  }
  .profile__info {
    text-align: center;
    padding: 0;
  }

  .profile__description {
    text-align: center;
  }

  .profile__add-button {
    margin: 0;
    width: none;
  }
}

/* .profile__info {
    max-width: calc(100% -20px);
  }

  .profile__image {
    margin-bottom: 30px;
  }

  .profile__title {
    margin-bottom: 0;
    column-gap: 10px;
  }

  
  .profile__edit-button {
    margin-bottom: 14px;
  }
  .profile__add-button {
    width: 100%;
  }
} */
